@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');
body{
  font-family: 'Roboto', sans-serif;
  background-color: #5CDB95;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h3{
  font-family: 'Roboto', sans-serif;
}

#dnd{
  color: blue;
  height:100px;
}

/*for file drag and drop box*/
.dropzone{
  height:200px;
  width: 357px;
  border: 1px dashed #379683;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDropzone{
  align-self: center;
  color: #379683;
  font-weight: bold;
}

/*for login*/
.navLink{
  text-decoration: none;
  color: white;
}
.navLink:hover, .navLink:active, .navLink:visited .navLink:link{
  text-decoration: none;
  color: white;
}

.loginCol{
  background-color: rgba(5,56,107,.7);
  padding: 10%;
  border-radius: 2%
}
.loginRow{
 margin-top: 6%;
}

.loginForm{
}
#welcomeLogin{
  color: #EDF5E1;
}
.loginHeader{
  color: white;
}

/*my project page panels*/
.outerpanel{
  border: none;
  border-radius: 2%;
  box-shadow: 2px 2px 0px 0px #888888;
}
.outerpanel:active{
  border: none;
  border-radius: 2%;
  box-shadow: none
}
.panel-body{
  background-color: #05386B;
  color: white;
  text-decoration: none;
  border-radius:2%;
}
.panel-body:hover{
  background-color: #379683;
  color: white;
  text-decoration: none;
  border-radius:2%;

}

.panel-body:hover{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.create{
  margin:2%;
}

.createProjectRow{
  margin-top:3%;
}

/*newProject Page*/
.projNameRow{
  margin-top: 3%;

}
.modal-container{
  height: 15%;
}
.modal-content{
  margin-top: 15%;
}
.modal-header{
  align-self: center;
}

.filedragcol{
  margin-bottom: 1%;

}

.createSchemaButton{
  margin-bottom: 2%;
}
/*Button*/
.btn-default{
  text-shadow: none;
}

#loginbtn, #newProjBtn, #logoutBtn{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
  margin: 0;

}
#loginbtn:focus,
#loginbtn.focus,
#newProjBtn:focus,
#newProjBtn.focus,
#logoutBtn:focus,
#logoutBtn.focus
{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
}
#loginbtn:active, #newProjBtn:active, #logoutBtn:active{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
}
#loginbtn:hover, #newProjBtn:hover, #logoutBtn:hover{
  background-color: #379683;
  border-color: rgb(8, 37, 67);
}

#successbutton{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
  margin: 0;

}
#successbutton:focus,
#successbutton.focus{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
}
#successbutton:active{
  background-image:none;
  background-color: #379683;
  border-color:#379683;
  color: white;
}
#successbutton:hover{
  background-color: #379683;
  border-color: rgb(8, 37, 67);
}


#sharebtn{
  background-image:none;
  background-color: rgba(8, 37, 67, .8);
  border-color:rgba(8, 37, 67, .8);
  color: white;
  margin-left: 1%;

}
#sharebtn:focus,
#sharebtn.focus{
  background-image:none;
  background-color: rgba(8, 37, 67, .8);
  border-color:rgba(8, 37, 67, .8);
  color: white;
}
#sharebtn:active{
  background-image:none;
  background-color: rgba(8, 37, 67, .8);
  border-color:rgba(8, 37, 67, .8);
  color: white;
}
#sharebtn:hover{
  background-color: rgb(8, 37, 67);
  border-color: rgb(8, 37, 67);
}

#shareFormLabel{
  margin-right: 2px;
  font-size: 2rem;
}

.navRow{
  background-color: #05386B;
  color: white;
  margin-bottom: 2%;
}

#innerNavRow{
  align-items: center;
}
.innerNavRow{
  margin-top:1.5%;
}

.createAccountHeader{
  color: white;
  font-weight: bold;
}

.outerCACol{
  background-color: rgba(5,56,107,.7);
  border-radius: 2%;
  padding: 3% 5% 3% 5%;
  color: white;
}
#outerCARow{
  margin-top: 5%;
}

#projectName{
  color: #EDF5E1;
  font-weight: bold;
}

.modal-content{
  background-color: #EDF5E1;
  color: #05386B;
}

#contained-modal-title{
  color: #05386B;
}
#modal-label{
  color: #05386B;
}

.myprojecttext{
  color:white;
}
